input[type=text], input[type=number] {
    padding-top: 5px;
    margin-top: 10px;
    border-radius: 25px;
    border: 1px solid #13274333;
}

input[type=text]:hover, input[type=text]:focus, input[type=number]:hover, input[type=number]:focus {
    box-shadow: 2px 3px 8px #13274323;
}

#search {
    background-color: white;
    background-image: url('/static/img/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 35px;
    height: 35px;
    border: none;
}

#search:hover {
    transform: scale(1.2, 1.2);
}

#search:focus, #search:active {
    outline: none !important;
    box-shadow: none;
}

.top {
    border-bottom: 1px solid #1327436b;
}